html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family:
        'Montserrat', sans-serif;
}

* {
    font-family: inherit;
}

button,
input,
select,
label {
    font-family: 'Montserrat', sans-serif;
}

.start {
    background-image: url(image/cart.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;

    &__heading {
        font-size: 64px;
        font-weight: 600;
        line-height: 70px;
        text-align: left;
        margin-top: 127px;
        color: #fff;

    }

}

.special__heading {
    margin-top: 64px;
}

.cart {
    display: grid;
    gap: 33px;
    margin-top: 64px;
    max-width: 1200px;
    grid-template-columns: repeat(12, minmax(800px, 1fr));

    &__content {
        width: 100%;
    }

    &__product {
        display: flex;
        justify-content: space-between;
        padding-right: 27px;
        padding-bottom: 14px;
        border-bottom: 0.5px solid rgb(202, 205, 216);
    }

    &__box {
        display: flex;
        justify-content: space-between;
        /*flex-wrap: wrap;*/
        margin-top: 25px;
        border-bottom: 0.5px solid rgb(202, 205, 216);
        padding-bottom: 32px;
    }

    &__box:last-child {
        border-bottom: none;
    }

    &__left {
        display: flex;
        flex-direction: row;
        gap: 32px;
    }

    &__info {
        width: 276px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    &__heading {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        text-align: left;
        margin-bottom: 14px;
    }

    &__text {
        color: rgb(136, 136, 136);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-align: left;
        margin-bottom: 16px;
    }

    &__price {
        color: rgb(5, 5, 5);
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
        margin-bottom: 15px;
    }

    &__link {
        display: flex;
        gap: 30px;
    }

    &__links {
        color: rgb(0, 0, 0);
        font-size: 14px;
        font-weight: 400;
        line-height: 210%;
        text-align: center;
        text-decoration-line: underline;
    }

    &__page{
        font-weight: 400;
        font-size: 16px;
    }

    &__registration {
        border-radius: 20px;
        background-color: rgb(247, 246, 246);
        width: 379px;
        height: 556px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }

    &__regheading {
        padding-top: 42px;
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        text-align: center;
        padding-bottom: 40px;
    }

    &__section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 40px;
        padding-left: 27px;
        padding-right: 64px;
    }

    &__regtext {
        color: rgb(0, 0, 0);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-align: left;
        border-bottom: 1px solid rgb(202, 205, 216);
    }

    &__regpricing {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        text-align: center;
        padding-top: 64px;
    }

    &__regbtn {
        box-sizing: border-box;
        margin-top: 18px;
        border: 1px solid rgb(4, 4, 4);
        border-radius: 20px;
        width: 319px;
        height: 40px;
        margin-bottom: 148px;
        color: rgb(0, 0, 0);
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }

    &__regprice{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__num {
        display: flex;
        align-items: flex-start;
        width: 71px;
        height: 51px;
        color: rgb(0, 0, 0);
        font-family: Poppins;
        font-size: 14px;
        font-weight: 600;
        line-height: 210%;
        text-align: center;
        border-radius: 6px;
        background: rgb(247, 246, 246);
        border: none;
        box-sizing: border-box;
        padding-right: 20.5px;
        -moz-appearance: textfield;
        appearance: textfield;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    &__btn {
        color: rgb(2, 2, 2);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-align: center;
        box-sizing: border-box;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 50px;
        width: 200px;
        height: 37px;
        text-decoration: none;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
    }

    &__btn:hover {
        background-color: black;
        color: #fff;
    }

    &__btnbox {
        display: flex;
        flex-wrap: wrap;
        gap: 7px;
        margin-top: 18px;
    }

    &__box_bottom {
        margin-top: 32px;
    }

}

.cart__pricing {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-align: center;
}

.linkcart {
    margin-top: 33px;
    margin-bottom: 69px;
}

.linkcart__link {
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}

.linkcart__link:hover {
    color: rgba(136, 136, 136, 1);
}

.cart__input {
    position: relative;
    width: 71px;
    height: 51px;
}

.cart__input_num::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.cart__top,
.cart__bottom {
    position: absolute;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.cart__top {
    left: 41px;
    top: 9px;
    background-image: url(image/top\ \(1\).svg);
}

.cart__bottom {
    left: 41px;
    top: 26px;
    background-image: url(image/bottom.svg);
}

.footer {
    margin-top: auto;
}

@media (max-width: 1024px) {

    .cart {
        display: flex;
        flex-wrap: wrap;
        margin-top: 66px;
        gap: 0;

        &__registration {
            margin-top: 64px;
        }

        &__btnbox {
            margin-top: 0;
        }
    }

    .center {
        padding-left: calc(50% - 393px);
        padding-right: calc(50% - 393px);
    }

    #special__cart_product {
        row-gap: 31px !important;
    }

    .linkcart {
        margin-bottom: 68px;
        margin-top: 32px;
    }

}

@media (max-width: 833px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }

    .special__product {
        row-gap: 31px;
    }
}

@media (max-width: 768px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .start__heading {
        font-size: 48px;
        line-height: 59px;
        text-align: center;
        margin-top: 82px
    }

    .cart {

        margin-top: 92px;

        &__product {
            display: none;
        }

        &__box {
            padding-bottom: 30px;
            margin-top: 18px;
        }

        &__left{
            width: 253px;
        }

        &__info{
            width: 253px;
        }

        &__image {
            display: none;
        }

        &__heading {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 8px;
        }

        &__text {
            font-size: 12px;
            line-height: 15px;
            margin-bottom: 15px;
        }

        &__box_bottom {
            margin-top: 18px;
            margin-bottom: 8px;
        }

        &__price {
            font-size: 14px;
            line-height: 15px;
            margin-bottom: 15px;
        }

        &__btnbox {
            display: flex;
            flex-wrap: nowrap;
        }

        &__btn {
            width: 166px;
            font-size: 12px;
        }

        &__btn:nth-child(2) {
            width: 163px;
        }

        &__content {
            border-top: 0.5px solid rgba(202, 205, 216, 1);
        }

        &__registration {
            margin-top: 48px;
            width: 343px;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 16px;
        }

        &__regbtn{
            width: 283px;
            height: 40px;
        }
    }

    .special__heading {
        margin-top: 48px;
        margin-bottom: 32px;
        white-space: pre-line;

        &__product {
            row-gap: 32px;
        }
    }

    .special__product {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        padding: 0;
        margin: 0;
    }

    #special__cart_price
    [data-id="special__cart_price"] {
        gap: 57px;
    }

    .product {

        &__name {
            margin-bottom: 9px;
            margin-top: 9px;
        }

        &__text {
            margin-bottom: 8px;
        }
    }

    .linkcart {
        margin-top: 32px;
        margin-bottom: 32px;
        margin-left: 17px;
        padding: 0;
    }

    .footer {
        display: flex;
        justify-content: space-evenly;
        column-gap: 100px;
        row-gap: 70px;
        padding-bottom: 33px;
    }

}

@media (max-width: 1024px) {
    .special__product {
        grid-template-columns: repeat(2, 1fr);
        gap: 29px;
    }
}