* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-wrap: wrap;
}

* {
    font-family: inherit;
}

button,
input,
select,
label {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family:
        'Montserrat', sans-serif;
}

li {
    list-style-type: none;
}

.modal {

    &__content {
        box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
        background: rgba(255, 255, 255, 1);
        padding: 40px 48px 40px 48px;
    }

    &__product {
        display: flex;
        justify-content: space-between;
        padding-right: 29px;
        padding-bottom: 14px;
        border-bottom: 0.5px solid rgb(202, 205, 216);
    }

    &__image {
        width: 144px;
        height: 144px;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        /*flex-wrap: wrap;*/
        border-bottom: 0.5px solid rgb(202, 205, 216);
        padding-bottom: 24px;
    }

    &__box:last-child {
        border-bottom: none;
    }

    &__left {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    &__info {
        width: 238px;
        gap: 14px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    &__heading {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        text-align: left;
    }

    &__text {
        color: rgb(136, 136, 136);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-align: left;
    }

    &__price {
        color: rgb(5, 5, 5);
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
    }

    &__link {
        display: flex;
        gap: 24px;
        margin-top: 40px;
    }

    &__links {
        color: rgb(0, 0, 0);
        font-size: 14px;
        font-weight: 400;
        line-height: 210%;
        text-align: center;
        text-decoration-line: underline;
    }

    &__num {
        display: flex;
        align-items: flex-start;
        width: 71px;
        height: 51px;
        color: rgb(0, 0, 0);
        font-family: Poppins;
        font-size: 14px;
        font-weight: 600;
        line-height: 210%;
        text-align: center;
        border-radius: 6px;
        background: rgb(247, 246, 246);
        border: none;
        box-sizing: border-box;
        padding-right: 20.5px;
        -moz-appearance: textfield;
        appearance: textfield;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    &__input {
        position: relative;
        width: 71px;
        height: 51px;
    }

    &__input_num::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    &__top,
    &__bottom {
        position: absolute;
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        cursor: pointer;
    }

    &__top {
        left: 41px;
        top: 9px;
        background-image: url(image/top\ \(1\).svg);
    }

    &__bottom {
        left: 41px;
        top: 26px;
        background-image: url(image/bottom.svg);
    }

    &__regpricing {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
    }

    &__regbtn {
        box-sizing: border-box;
        border: 1px solid rgb(4, 4, 4);
        border-radius: 20px;
        width: 207px;
        height: 40px;
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }

    &__btn {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 48px;
        align-items: center;
    }

    &__box_bottom {
        margin-top: 24px;
        border: none;
    }
}

.modal__pricing {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-align: center;
}

.modal {
    display: block;
}

.modal__summary {
    display: none;
}

.modal__overlay {
    /* position: fixed;*/
    position: absolute;
    left: 310px;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal:not([open]) .modal__overlay {
    display: none;
}

.modal[open] .modal__overlay {
    display: flex;
    margin-top: 18px;
}

.modal__container {
    max-width: 90vw;
    max-height: 85vh;
    padding: 0;
    position: relative;
    box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
    background: rgba(255, 255, 255, 1);
}

.modalbtn:has(+ .modal[open]) {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
}

.modalbtn {
    color: rgb(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-decoration: none;
}

.modalbtn:hover {
    text-decoration: underline;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    background-image: url(image/top.png);
    min-height: 735px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    min-height: 76px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}

.header__menu {
    display: flex;
    gap: 32px;
}

.header__links {
    color: rgb(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-decoration: none;
}

.header__links:hover {
    text-decoration: underline;
}

.header__input {
    width: 288px;
    height: 41px;
    outline: none;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 20px;
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
}

.header__input::placeholder {
    color: rgba(255, 255, 255, 1);

}

.header__mobile {
    display: none;
}

.section__heading {
    color: rgb(255, 255, 255, 1);
    font-size: 64px;
    font-weight: 600;
    line-height: 70px;
    text-align: left;
    margin-top: 64px;
    margin-bottom: 16px;
    min-height: 140px;
    max-width: 792px;
}


.for {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
}

.furniture__heading {
    margin-top: 64px;
    margin-bottom: 32px;
    color: rgba(0, 0, 0, 1);
    font-size: 48px;
    font-weight: 600;
    line-height: 59px;
}

.for__item {
    height: 415px;
    background-repeat: no-repeat;
    grid-column: span 4;
    color: rgba(255, 255, 255, 1);
    font-size: 34px;
    font-weight: 600;
    line-height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.for__item_big {
    width: 583px;
    grid-column: span 6;
}

.for__item_1 {
    background-image: url(image/for_1.jpg);
}

.for__item_2 {
    background-image: url(image/for_2.jpg);
}

.for__item_3 {
    background-image: url(image/for_3.jpg);
}

.for__item_4 {
    background-image: url(image/for_4.jpg);
}

.for__item_5 {
    background-image: url(image/for_5.jpg);
}

.section__text {
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    margin-bottom: 16px;
}

.section__btn {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-decoration-line: underline;
}

.section__btn:hover {
    color: rgba(136, 136, 136, 1);
}

.product__icons {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 20px;
    right: 10px;
    top: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.product:hover .product__icons {
    opacity: 1;
    pointer-events: auto;
}

.icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}


.special {
    display: flex;
    flex-wrap: wrap;
}

.special__product {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.special__heading {
    color: rgba(0, 0, 0, 1);
    font-size: 48px;
    font-weight: 600;
    line-height: 59px;
    margin-top: 56px;
    margin-bottom: 32px;
}

.catalog__heading {
    margin-top: 73px;
    color: rgba(0, 0, 0, 1);
    font-size: 48px;
    font-weight: 600;
    line-height: 59px;
    margin-bottom: 32px;
}

.catalog__product {
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
    row-gap: 56px;
    flex-wrap: wrap;
}

.product {
    width: 379px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 30%;
    position: relative;
}

.product__name {
    color: rgba(0, 0, 0, 1);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: left;
    margin-bottom: 8px;
    margin-top: 10px;
}

.product__text {
    color: rgba(136, 136, 136, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    margin-bottom: 12px;
}

.price {
    display: flex;
    gap: 32px;
}

.product__price {
    color: rgba(5, 5, 5, 1);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: left;
}

.product__price_sale {
    color: rgba(136, 136, 136, 1);
    text-decoration-line: line-through;
}

.link {
    margin-top: 39px;
    margin-bottom: 64px;
    padding: 0;

}

.link {
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.link__catalog {
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-decoration-line: underline;
}

.link__catalog:hover {
    color: rgba(136, 136, 136, 1);
}

.footer {
    background-color: rgba(247, 246, 246, 1);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 32px;
    min-height: 185px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.footer__menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__icons {
    display: flex;
    gap: 20px;
}

.icons:hover path {
    fill: black;
}

.footer__box {
    display: flex;
    gap: 129px;
    flex-wrap: wrap;
}

.footer__form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
}

.footer__title {
    color: rgba(0, 0, 0, 1);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: left;
}

.footer__links {
    color: rgba(136, 136, 136, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-align: left;
    text-decoration: none;
}

.footer__links:hover {
    text-decoration: underline;
}

.form__text {
    color: rgba(0, 0, 0, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    margin-bottom: 4px;
}

.form__input {
    box-sizing: border-box;
    border: 1px solid rgba(196, 196, 196, 1);
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
    width: 260px;
    height: 40px;
    color: rgba(196, 196, 196, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    padding-left: 17px;
    padding-right: 17px;
}

.form__btn {
    width: 260px;
    height: 40px;
    border-radius: 16px;
    background: rgba(222, 215, 215, 0.41);
    border: none;
    color: rgba(0, 0, 0, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
}

.form__btn:hover {
    background: black;
    color: white;
}

/*tablet styles*/

@media (max-width: 1024px) {
    .for {
        /*display: flex;
        flex-wrap: wrap*/
    }

    .center {
        padding-left: calc(50% - 393px);
        padding-right: calc(50% - 393px);
    }

    .modal__overlay {
        left: 103px;
    }

    .for {
        gap: 30px;

        &__item_big {
            width: 378px;
            height: 268px;
        }

        &__item_small {
            width: 242px;
            height: 265px;
        }
    }

    .special {

        &__heading {
            width: 100%;
            text-align: left;

        }

        &__product {
            column-gap: 29px;
            row-gap: 38px !important;
        }
    }

    .product{

        &__text{
            font-weight: 500;
        }
    }

    .catalog__heading {
        margin-top: 64px;

        &__product {
            column-gap: 29px;
            row-gap: 39px;
        }
    }

    .catalog__product {
        column-gap: 29px;
        row-gap: 39px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .link {
        margin-top: 41px;
        padding: 0 !important;
        margin-bottom: 68px;
    }

    .footer__logo {
        display: none;
    }

    .footer__content {
        justify-content: space-between;
    }

}

@media (max-width: 833px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }
}

/*mobile styles*/

@media (max-width: 768px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        padding-top: 32px;
        border-bottom: none;
        min-height: 57px;

        &__img {
            width: 99px;
        }

        &__img svg {
            width: 100%;
            height: auto;
        }

        &__input {
            display: none;
        }

        &__menu {
            display: none;
        }
    }

    .header__mobile {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        align-items: center;
    }

    .section {
        margin-top: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__heading {
            margin-top: 29px;
            font-size: 48px;
            line-height: 59px;
            text-align: center;
        }

        &__text {
            font-size: 16px;
            margin-bottom: 28px;
        }

        &__btn {
            font-size: 14px;
        }
    }

    .furniture__heading {
        margin-top: 32px;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        text-align: left;
        padding-left: 0;
    }

    .for {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 16px;
        width: 100%;
    }

    .for__item {
        width: 100% !important;
        min-width: 280px;
        /*height: 375px !important;*/
        font-size: 28px !important;
        font-weight: 600 !important;
        line-height: 34px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        text-align: center !important;
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        color: white !important;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) !important;
    }

    .for__item_big,
    .for__item_small {
        width: 100% !important;
        grid-column: auto !important;
    }

    .for__item_small{
        height: 375px;
    }

    .special__heading {
        margin-top: 32px !important;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        width: 100%;
        text-align: left;
        white-space: pre-line;
    }

    .special__mobile {
        display: block;
    }

    .special__product {
        row-gap: 32px !important;
        display: flex;
        justify-content: center;
    }

    .product {
        &__img {
            min-width: 280px;
        }

        &__name {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 10px;
            margin-top: 9px;
        }

        &__text{
            font-weight: 400;
            font-size: 14px;
        }

        &__price {
            font-size: 18px;
            line-height: 22px;
        }
    }

    .catalog {
        &__product {
            row-gap: 32px;
            display: flex;
            justify-content: center;
        }

        &__heading {
            font-size: 24px;
            line-height: 29px;
            margin-top: 36px;
        }
    }

    .link {
        display: flex;
        margin: 0;
        margin-top: 36px;
        margin-bottom: 36px;
        padding: 0 !important;
    }

    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        -moz-column-gap: 100px;
        flex-direction: column;
        column-gap: 100px;
        row-gap: 70px;
        padding-bottom: 33px;

        &__logo{
            display: none;
        }

        &__info {
            margin-right: 40px;
        }

        &__box {
            display: flex;
            gap: 129px;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    .form {
        margin-left: 0;
        display: flex;
        justify-content: center;
    }
}


@media (max-width: 425px) {
    .for {
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }
}

@import "cart";